body {
  font-family: Pretendard;
  word-break: keep-all;
}

@import 'tailwindcss';

@theme {
  --color-white: #ffffff;
  --color-80: #333333;
  --color-100: #111111;
  --color-Blue_light: #d9e3fc;
  --color-Blue_medium: #4b48f5;
  --color-Blue: #3936e5;
  --color-purple: #a96efc;
  --color-Primary: #d060f8;
}

/* 스크롤바 커스텀 */
.horizontal-scroll::-webkit-scrollbar {
  height: 7px;
  padding-top: 2px;
}

.horizontal-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.horizontal-scroll::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;

}

@theme {
  --color-white: #ffffff;
  --color-80: #333333;
  --color-100: #111111;
  --color-Blue_light: #d9e3fc;
  --color-Blue_medium: #4b48f5;
  --color-Blue: #3936e5;
  --color-purple: #a96efc;
  --color-Primary: #d060f8;
  --color-red_light : #FFD2D2;
}