@import 'tailwindcss';

@theme {
  --color-white: #ffffff;
  --color-80: #333333;
  --color-100: #111111;
  --color-Blue_light: #d9e3fc;
  --color-Blue_medium: #4b48f5;
  --color-Blue: #3936e5;
  --color-purple: #a96efc;
  --color-Primary: #d060f8;
}
