body {
  font-family: Pretendard;
  word-break: keep-all;
}

@import 'tailwindcss';

/* 스크롤바 커스텀 */
.horizontal-scroll::-webkit-scrollbar {
  height: 7px;
  padding-top: 2px;
}

.horizontal-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.horizontal-scroll::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
