body {
  font-family: Pretendard;
  word-break: keep-all;
}

@import 'tailwindcss';

@theme {
  --color-white: #ffffff;
  --color-80: #333333;
  --color-100: #111111;
  --color-Blue_light: #d9e3fc;
  --color-Blue_medium: #4b48f5;
  --color-Blue: #3936e5;
  --color-purple: #a96efc;
  --color-Primary: #d060f8;
  --color-gray_light: #d3d9df;
}

/* 스크롤바 커스텀 */
.horizontal-scroll::-webkit-scrollbar {
  height: 7px;
  padding-top: 2px;
}

.horizontal-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.horizontal-scroll::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;

}

/* 팀원 카드 호버 시 역할 아이콘 색상 변경 */
.group:hover .role-icon-wrapper svg rect {
  fill: #d9e3fc;
  transition: fill 0.3s;
}

.group:hover .role-icon-wrapper svg path {
  fill: #4b48f5;
  transition: fill 0.3s;
}
